@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: block;
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 3em;
    box-shadow: 0 2px 10px #111111;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-weight: lighter;
}

body {
    background-image: url("https://images.iphonephotographyschool.com/22682/How-To-Blur-Background-On-iPhone.jpg");
    background-color: rgba(0, 0, 0, 0.24);
    font-family: 'Mukta', sans-serif;
}

main {
    margin: 5em 20vw;
}

label {
    display: none;
    visibility: hidden;
}

.form-group {
    margin: 0.5em;
}


#post, form{
    background-color: rgb(31, 31, 31);
    box-shadow: 0 2px 10px #111111;
    color: white;
    padding: 3em;
    border-radius: 10px;
}

input, button, textarea {
    margin: auto;
    width: 100%;
    padding: 0.5rem;
    background-color: none;
    border: none;
    outline: none;
    border-radius: 5px;
}

textarea {
    font-family: inherit;
    resize: vertical;
    height: 10em;
}

#title {
    font-size: 3rem;
}

#info {
    width: 100%;
    display: inline-block;
}

#date {
    color: rgb(156, 156, 156);
}

#name {
    font-size: 1.5rem;

}
#message {
    margin: 2em auto;
    font-size: 1rem;
}

button {
    color: white;
    background-color: rgb(119, 119, 119);
    font-weight: bold;
    font-size: 1.5rem;
    transition-duration: 0.4s;
}
button:hover {
    background-color: rgb(24, 88, 207) ;
    color: white;
    cursor: pointer;
}

.error {
    background-color: rgb(163, 14, 14);
    border-radius: 10px;
    color: white;
    padding: 3em;
}

a {
    text-decoration: none;
    color: white;
}

